<?xml version="1.0" encoding="UTF-8"?>
<html>
<head>
<title>Egypt’s Islamists: A Cautionary Tale</title>
<meta name="author" content="By Hillel Fradkin and Lewis Libby"/>
<meta name="abstract" content="The Muslim Brotherhood’s patience and prudence should not be mistaken for moderation."/>
<meta name="pubdate" content="20110401"/>
<link rel="stylesheet" type="text/css" href="css/style.css">
<script type="text/javascript" src="js/uniberg.js" ></script>
<script type="text/javascript" src="js/notemark.js" ></script>
</head>
<body>
<div class="page">
<div class="page_header">
<p class="title">Egypt’s Islamists: A Cautionary Tale</p>
<p class="subtitle">The Muslim Brotherhood’s patience and prudence should not be mistaken for moderation</p>
<p class="author">By Hillel Fradkin and Lewis Libby</p>
</div>

<div class="column1">
<p><span class='dropcap_first'>O</span><span class="lead_text1">n  February 18,</span> crowds gathered in Cairo’s Tahrir Square to celebrate the ouster of Egyptian strongman Hosni Mubarak—but also to pray, since it was a Friday, and Friday is the Muslim Sabbath. As it had on every Friday since the uprising began the month before, the Muslim Brotherhood took a leading role. But on this Friday, the subject was no longer Mubarak but rather Egypt’s future and the place the Brotherhood—the venerable Islamist organization—would have in it. Would the Muslim Brotherhood ultimately support a turn toward democratic governance, or would it revert to its oft-cited goal of installing a theocracy? How that question might be answered arose in the person of Wael Ghonim, the young Google executive whose secret work on Facebook and elsewhere on</p>
</div>

<div class="column2">
<p> the Web had been so crucial to organizing the protests.</p>
<p>Would Ghonim speak?</p>
<p>He would not. Despite his centrality to all that had happened, this undeniable hero of the revolution was denied access to the podium by the Muslim Brotherhood. Ghonim’s parting gesture, as he left the square, was to wrap himself in the Egyptian flag. In his stead was Sheikh Yusuf al-Qaradawi, an Egyptian who had lived in exile for more than 30 years, had had no apparent role in recent events, and had just flown in from Qatar. Qaradawi is known to millions in the Muslim world through his weekly TV show on Al Jazeera and through his founding and direction of Islamist institutions, many of them in Europe. He is the chief ideologue and spiritual guide of the Muslim Brotherhood </p>
</div>
</div>


<div class="page">
<div class="column1">
<p>worldwide.</p>
<p>And so February 18 turned out not to be a celebration of the “agenda” of Egyptian reform for all Egyptians but rather of the agenda of the Muslim Brotherhood. What is that agenda? That is the question. The Muslim Brotherhood is the largest and most organized Egyptian entity apart from the Egyptian military and the state</p>
<p> itself. The institutions that the Brotherhood manages or dominates—schools, clinics, and loose affiliations of lawyers, doctors, and students—constitute something like a parallel state. And the Brotherhood has shown its strength with the Egyptian public in recent years. In 2005, in the only semi-free legislative elections in decades, the Brotherhood managed to win 20 percent of the seats. The Brotherhood seems well positioned to benefit from the protests and the departure of Mubarak, and that fact has cast a shadow over the extraordinary events in Cairo—the peaceful ouster of a sclerotic autocrat.</p>
<p><span class="dropcap">S</span><span class="lead_text1">ome observers</span> have expressed the hope that the Brotherhood might actually play a benign role as Egypt moves forward. They cite the soothing words of one of the members of its Supreme Council, Essam el-Errian: “We come with no special agenda of our own—our agenda is that of the Egyptian people. We aim to achieve reform and rights for all, not just for the Muslim Brotherhood, not just for Muslims, but for all Egyptians.” This and other pronouncements </p>
</div>

<div class="column2">
<p>have been taken as evidence that the Brotherhood is not the radical organization of old—the organization from whose ranks the assassins of Mubarak’s predecessor, Anwar el-Sadat, emerged, and from whose theoretical seedlings al-Qaeda sprouted. But even if the Brotherhood hasn’t changed, say, others, we shouldn’t worry too much. It won’t have the legitimacy necessary to dominate the political life of the new Egypt. Common estimates of its public support range between 20 and 30 percent, which suggests to optimists that the Brotherhood would lack the capacity to overpower the pro-democracy elements of the movement. After all, the senior leadership of the Brotherhood was not initially</p>
<p>involved in instigating the protests, and once the organization got involved, it supposedly played at best a subordinate role. The public knows this. And the Brotherhood knows it too, they say, which explains why it has announced it will not field a candidate for Egypt’s presidency, nor run a candidate slate sufficiently large to win a majority in the new parliament. Indeed, in offering their hopes for a new Egypt, Brotherhood leaders have invoked the relatively reassuring model of Turkey—present-day Turkey, that is, under the governance of the AKP, a party that grew out of the Turkish branch of the Muslim Brotherhood.</p>
<p>But as the sobering treatment of Ghonim and appearance of Qaradawi on February 18 both suggest, democracy advocates need to keep their wits about them when considering the </p>
</div>
</div>


<div class="page">

<div class="column1">
<p>composition of the new Egypt. The passions that stoked these remarkable events are very fresh and very raw and very powerful. But they will abate over time, and time is the Muslim Brotherhood’s friend. The organization is nearly 80 years old, and it has learned the benefits of both patience and prudence.</p>
<p>It is proceeding with caution, and so, in relation to the Muslim Brotherhood, should we.</p>
<p><span class="dropcap">F</span><span class="lead_text1">ar</span> too many analysts seem to confuse the caution the Muslim Brotherhood has displayed thus far with moderation. There is no conflict between being immoderate and acting with discretion. We know very well from historical experience that successful radical movements and organizations often proceed carefully in pursuit of a violent revolutionary aim.</p>
<p>The Brotherhood’s difficult eight-decade history in Egypt has schooled its leaders in the need for caution. During those 80 years, the Brotherhood has sometimes enjoyed some freedom and even favor, only to see them replaced by hardship. In the 1930s and early 40s, the Brotherhood’s founder, Hassan al-Banna, enjoyed influence—sometimes considerable—under the Egyptian monarchy. But in 1948, Banna was murdered by King Farouk’s police. Subsequently, the Brotherhood became friendly and complicit with the group of young officers who overthrew the monarchy in 1952 and established the regime that persisted through</p>
</div>

<div class="column2">
<p> the reign of the three generals—Gamal Abdel Nasser, Anwar Sadat, and Hosni Mubarak (it persists today, in spite of the latter’s ouster).</p>
<p>But in two years’ time, the Brotherhood had fallen out with the regime and found itself subjected to ferocious persecution far worse than anything it had endured under the monarchy. For a time, Nasser relented, but he turned on them yet again and launched another cycle of attacks in the 1960s. This campaign culminated in the 1966 execution of Sayyid Qutb, the anti-Western thinker who was the Brotherhood’s most popular figure.</p>
<p>After Nasser’s death in 1970, the Brotherhood enjoyed a period of relative freedom under his successor Anwar Sadat, who was more pious than Nasser and needed the group to combat the influence on Egypt of the Soviet Union and its Communist allies. But that second honeymoon, too, soon faded, and ended altogether under Mubarak, in the wake of Sadat’s assassination by Islamist radicals who had broken from the Brotherhood.</p>
<p>So we can see how and why the Brotherhood was forced to learn the virtues of caution. At the same time, its vision of Egypt’s future, and the Muslim future as a whole, is anything but moderate. From its very beginnings in 1928, the Brotherhood has been explicit about its ultimate goal: the radical transformation of contemporary Muslim society and its political order. Its central pronouncement, authored by its founder, Banna, remains authoritative to this day:</p>
</div>
</div>


<div class="page">
<div class="column1">
<p> “Allah is our objective; the Prophet is our leader; the Koran is our law; Jihad is our way; dying in the way of Allah is our highest hope.”</p>
<p>The Brotherhood’s strategy for realizing its vision was long term, to put it mildly, and thus has been mistaken for a legitimate effort to effect gradual change from the bottom up through the construction of institutions separate from the government—like providers of social services and communities of like-minded professionals. But these organizational efforts in no way have led to the abandonment of its radical vision in its most comprehensive and ultimately political form.</p>
<p>The Brotherhood’s “gradualism” arose from a belief that such an approach was the best way to achieve its comprehensive and radical political vision of a fully Islamic society and way of life. Of course, this strategy posed problematic tactical questions: How would the Brotherhood determine the right moment for the transition to genuinely political activity and the acquisition of genuine rule? Did it need to wait until society was Islamically homogenous by Brotherhood standards? Or should it proceed at a moment somewhat short of this goal, if adversity or the right circumstances presented themselves?</p>
<p>The inherent uncertainty and difficulty of answering these questions could and did lead to divisions within the Brotherhood’s leadership. It even led to defections from the </p>
</div>



<div class="column2">
<p>Brotherhood and the founding of alternative groups. One such group assassinated Sadat. As later interviews with the conspirators revealed, they undertook their plot not only or even primarily because of the Israeli-Egyptian peace treaty, which had been signed two years earlier. Rather, they considered work on women’s rights championed by Sadat’s wife, Jihan, an existential threat to true Muslim society.</p>
<p>The main body of the Muslim Brotherhood demurred on using violence in that instance. But that was a tactical difference of opinion; it did not represent an alteration in the essential character of the group’s overall objective. One of the anti-Sadat conspirators, Ayman al-Zawahiri, shouted from his jail cell, “Islam is our religion and our ideology.” Released, he later became al-Qaeda’s second-in-command.</p>
<p><span class="dropcap">M</span><span class="lead_text1">ight</span> the new opening of Egyptian politics lead the Brotherhood to shed its bruised history and adopt a new, participatory, or democratic notion of its role? Or, even if it does not yet deserve to be called “moderate,” might it come to be so through the give-and-take of future Egyptian electoral politics? Perhaps. But even the evidence suggesting that the Brotherhood is evolving in this way is subject to a far less reassuring interpretation.</p>
<p>It is true that senior leaders of the Brotherhood were not members of the committee of youth who first organized the protests. But that committee included a</p>
</div>
</div>


<div class="page">
<div class="column1">
<p> leader of the youth arm of the Brotherhood, so the senior leadership knew what was happening. Other members of the youth committee, moreover, included the Brotherhood precisely because they believed they might need their ranks swelled by Brotherhood members. The Brotherhood supplied that need on the first occasion that suited its own institutional requirements: January 28, the first Friday of the revolt. The weekly Friday prayers permitted the</p>

<p> Brotherhood to mass its forces easily in the mosques and with the protective cover of religious duty. Large groups of people who emerged from the mosques were led to Tahrir Square under the supervision of Brotherhood monitors. This pattern was repeated on all subsequent Fridays, and the Brotherhood declined to participate in a mass demonstration in March that did not fall on a Friday.</p>
<p>None of this suggests that the Brotherhood had simply a subordinate role in the Egyptian events. But it does exemplify the Brotherhood’s characteristic caution. When Mubarak was still on the scene, and even following his fall</p>
<p>with the military in charge, there was—and there still is—a substantial risk in being too conspicuous.</p>
<p>Nor should one take too much comfort from the analyses that say that the Brotherhood has the support of only about a quarter of the electorate. That is a shaky estimate and may</p>
</div>

<div class="column2">
<p>be too low. To get that 20-30 percent number, analysts are relying on the results of that 2005 election, but given the extent to which those elections were limited, controlled, and stolen, those results may well understate the degree to which the ordinary Egyptian is in sympathy with the Brotherhood. Indeed, some polls show that a high percentage of the public holds extreme views on key issues, views that should make Brotherhood candidates attractive to them. In truth, we do not know reliably what the Brotherhood’s strength might be, and the Brotherhood may not either. Only the senior Brotherhood leadership is privy to their strategy going forward. Indeed, that strategy is necessarily a work in progress, since they, like all Egyptians, cannot foresee how events will unfold or what crises or turning points might lie ahead. Thus it has ever been in revolutions, and the Brotherhood has been through several.</p>
<p>Westerners have little cause for comfort in the pronouncements of the Brotherhood that it is attracted to the “Turkish model.” That may seem like a course we can welcome, given that the Brotherhood has also praised the bravery of Iran’s leaders and their model for governance. But Turkey should give us pause. Yes, Turkey’s Islamist AKP was democratically elected, then re-elected, and may win yet a third term this spring. But its leader, Recep Tayyip Erdogan, knows to play his own cautious game, skillfully using state power to weaken the army and other institutions, like the press and judiciary, whose independence could check his</p>
</div>
</div>


<div class="page">

<div class="column1">
<p> ambitions. The Turkish model is characterized by growing authoritarianism through intimidation, questionable detentions of opponents, and diversion of public assets to friendly hands. That may be more congenial than the “Iranian model,” but that ought to be cold comfort, given the speed with which Erdogan is effecting Islamist changes in what was the most secular country in the Muslim world.</p>
<p>Indeed, perhaps what the Brotherhood likes most of all about the AKP’s success in Turkey is the way it has succeeded in bringing that country’s formerly powerful, secular military to heel. That might be the “Turkish model” it really seeks to pursue in Egypt.</p>
<p>The Brotherhood might also want to bide its time when it comes to taking power. For whenever the newly elected civilian government comes to power in Egypt, it may not be able to wield broad powers to effect change, either because the Egyptian military (acting with caution) might act to limit them or because too many parties will win seats and governing authority will be diffuse. The result could be a first government too fractious or enfeebled to tackle Egypt’s enormous problems. Indeed, if the history of Central Europe in the 1990s is any guide, even empowered governments with international support will probably be unable to satisfy the pent-up demands of a long-suffering public, especially one unused to democratic ways.</p>
<p>Those who attempt to take on the</p>
</div>



<div class="column2">
<p> overwhelming job of governing the country in this atmosphere face the specter of a body politic that comes to view them with hostility and contempt. If the Brotherhood is among the governing number, it might find itself on the knife’s edge. The roiling dissatisfaction created by these circumstances might produce calls for a national savior to redeem the revolution. That savior might arise from the military’s ranks, or be the military itself. </p>
<p>In that event, the Brotherhood might find itself suppressed yet again, its goal of a wholly Islamic society defeated once more.</p>
<p>Thus the Brotherhood has good reason not to seek a majority too soon. It might serve its own purposes best by taking a role as a junior partner in the new government, with particular interest in certain ministries like education or social services that it can use to make the case that the Brotherhood is the only force in Egypt working to provide a better life for the people.</p>
<p>All in all, it might regard the downside risk of tarnishing its reputation or endangering its goals as substantially greater than the upside rewards of a major role in the early going. This might have the effect of making the Brotherhood seem as though it has chosen a far more moderate course than fearful Westerners expect, because it will have chosen caution over a risky attempt to seize the revolutionary moment. And, to be fair, one cannot rule out the possibility that a “new” Muslim Brotherhood more genuinely moderate than cautious, one opting for a</p>
</div>
</div>

<div class="page">

<div class="column1">
<p> departure from its radical past, might be emerging. We know that a cohort of new and younger leaders exists, and some are said to disagree with the senior leadership. </p>
<p>But for the time being, the old Muslim Brotherhood is still in charge, and its tradition was well in evidence on February 18 in the decision to invite Qaradawi—regarded as the highest authority and bearer of that tradition—to dominate the day. In his sermon, Qaradawi celebrated the demise of Mubarak—the Pharaoh, the Koranic exemplar of tyranny—and urged the consolidation of that victory. But in so doing, he darkly warned of the “hypocrites,” a Koranic term denoting those who apparently supported Muhammad’s “revolution” but secretly conspired against it. It</p>
<p>was not obvious who such hypocrites might be. Were they the remnants of Mubarak’s regime, or people like Wael Ghonim, who ostensibly had been comrades in arms but might resist an Islamic state?</p>
<p>Qaradawi was not there simply to celebrate the new Egypt and the new national agenda of “reform and rights” for “all Egyptians,” as el-Errian had put it. Rather, he urged his audience to look beyond Egypt and its reform not as Egyptians but as Muslims and Muslim Brothers. He offered an impassioned “message to our brothers in Palestine.” “I have hope,” he declared, “that Almighty Allah, as I have been pleased with the victory in Egypt, that he will also please me with the</p>

</div>



<div class="column2">
<p> conquest of the Al-Aqsa Mosque [in Jerusalem].”</p>

<p>As the many millions who have heard Qaradawi know all too well, his words in Tahrir Square reflect his hope to participate in the extermination of the world’s Jews—Jews, not merely Israelis. He has applauded Hitler’s work and seen Allah’s hand in it. Indeed, he has expressed gratitude that the final work has been left to Muslims, a task, he claims, that goes to the</p>
<p>roots of Islam. This is neither “moderation,” nor a contribution to the pressing task of building a new democratic and healthy Egyptian polity. Nonetheless, Qaradawi’s message received thunderous applause. We don’t know if there is a “new” Brotherhood aborning, but we certainly do know that the old Muslim Brotherhood is not only surviving, but thriving.</p>
<p>In this sense, the future course of Egypt presents a very great risk—for Egyptians most of all, and for others. This ancient nation has begun its liberation from oppression, but the high hopes raised by the astonishing results of its winter revolt cannot obscure the cold facts. The nation’s direction is uncertain and  the structures necessary for true democracy are barely in evidence. Outsiders may yet have a role to play in this, but that role will be limited; and early elections, which may now be in the cards, leave little time for newly liberated democratic forces to adjust.</p>
</div>
</div>


<div class="page">
<div class="column1">
<p>We should not delude ourselves. There is a great possibility that a state either under the direction of the Muslim Brotherhood or deeply influenced by it will adversely affect our position in a crucial part of the world. Secular forces would recede. More radicals would be schooled. Islamists would dominate the most populous and most developed countries in the Middle East—Iran, Turkey, and Egypt. The dire straits in which Israel would find itself would not be limited to the Jewish state alone. At long last, and to the world’s great peril, the Muslim Brotherhood would have no more need of caution.</p>
</div>
<div class="column2">
</div>
</div>
</body>
</html>
