<?xml version="1.0" encoding="UTF-8"?>
<html>
<head>
<title>Press Man: Everybody—With a Capital “E”</title>
<link rel="stylesheet" type="text/css" href="css/style.css">
<meta name="author" content="By Andrew Ferguson"/>
<meta name="abstract" content="The SEALs got their marching orders. Then the journalists got theirs."/>
<meta name="about the author" content="Andrew Ferguson, our press critic, wrote last month about Media Matters. His new book, 'Crazy U: One Dad’s Crash Course on Getting His Kid into College,' was published in March."/>
<meta name="pubdate" content="20110601"/>
</head>
<body>
<div class="page">
<div class="page_header">
<p class="title">Press Man: Everybody—With a Capital "E"</p>
<p class="subtitle">"The SEALs got their marching orders. Then the journalists got theirs."</p>
<p class="author">By Andrew Ferguson</p>
</div>

<div class="column1">
<p width="0" align="left"><span class="dropcap_first">I</span><span class="lead_text1">t was</span>&nbsp; well past my bedtime on that glorious Sunday night when President Obama told the nation that Osama bin Laden had been brought to justice—or rather that justice, in the form of U.S. Special Forces, had been brought to him. My first several thoughts, like yours, were giddy with unexpected delight. There was admiration for the president and awe at the courage and competence of the Navy SEALs, gratitude for the high technology that made such an </p>

<div class="comment">
<span class="lead_text3">A</span><span class="dropcap_rest">ndrew</span> <span class="lead_text3">F</span><span class="dropcap_rest">erguson</span>, our press critic, wrote last month about Media Matters. His new book, 'Crazy U: One Dad's Crash Course on Getting His Kid into College,' was published in March.
</div>
</div>

<div class="column2">
<p>operation possible, and a freshly summoned revulsion toward bin Laden and his kind. And then, as I turned out the light and the melatonin slowly descended to perform its homeopathic wonders, I thought of Cokie.</p>

<p>Every Sunday night I set my radio alarm clock so it will awaken me Monday morning to the sound of Cokie Roberts, the veteran analyst for NPR’s <em>Morning Edition</em>. The producers dial her up and ask her to apply her decades of experience as a plugged-in Washingtonian to the momentous events of the previous week. Her bracing, adenoidal voice and self-confident delivery mix traces of her</p>
</div>
</div>

<div class="page">
<div class="column1">
<p>native Louisiana with traces of her native Cleveland Park, and the result is not, needless to say, like to the lark at break of day arising from sullen earth.</p>
<p>When pressed by uncomprehending friends—and, more emphatically, by my wife, who also gets to wake up to Cokie every Monday—to explain why her weekly palaver on NPR is a regular feature of my info-diet, I quote a column in <em>Slate</em>, the online magazine, by the peerless press critic Jack Shafer. "Roberts doesn't just voice the conventional wisdom," Shafer wrote. "She is conventional wisdom."</p>

<p>I count on her as a spinning weather vane whose little arrow, when it comes to rest, invariably points to whatever opinions or observations are being adopted by our media elite in any given week. If she says it, Bob Schiefer thinks it. And not only Schiefer but, you know, <em>Everybody</em> with a capital "E": Maureen Dowd, for instance. And E.J. Dionne. And Chris Matthews. Bill Keller, Diane Rehm, Mark Shields...</p>

<p>"...a game-changer politically,” I heard Cokie say as the radio popped on the next morning, mid-palaver. When Cokie uses the word “game-changer,” it signals a drastic movement in received opinion. It means that the cliché that Everybody accepted last week is being dropped for a newer, shinier cliché that will be mandatory this week. The cliché rumbling through mainstream journalism had been that Obama was in political trouble because the public had decided he might not be suitable for his office, what with the faltering economic recovery, a poorly explained half policy in Libya, a shifting</p>

</div>

<div class="column2">
<p>response to the Arab Spring, and the uncertain effects of his comprehensive health-care reform.</p>
<p>And now, Cokie seemed to say to Everybody, let the word go forth to Everybody, from this time and this alarm clock: "I think that the public is likely to see this as a triumph for the president....It's going to be tough for these Republican presidential candidates, how they handle this." The risky decision of the president to pull the trigger on bin Laden was not merely a boost for him, in other words; it was a rebuke to Republicans, those running for president and those in Congress who "were trying to portray him as somebody who was very weak on terrorism." How did Cokie know this? "It was the White House where people gathered as news spread," she said. "It was the White House where they went to shout U.S.A., U.S.A., not the Capitol."</p>
<p>The used-up bromide that Everybody had to use last week—Obama in peril—had been superseded by the freshly minted bromide:</p>

<p> Obama was back! Even as Cokie spoke, NBC's electronic newsletter "First Read" zipped into Everybody’s e-mail queue: “The news that Osama bin Laden has been killed—on Obama’s watch—is most definitely a political game-changer and appears destined to impact the contours of the 2012 presidential race, as well as the emerging Republican field.” Also, as an afterthought: “It could have an impact on the U.S. involvement in Afghanistan-Pakistan.” Yeah. That, too.</p>

</div>
</div>

<div class="page">
<div class="column1">
<p>If the impulse to reduce a throat-catching moment of national pride and accomplishment to the banal calculations of political gamesmanship strikes you as evidence of a crippling monomania, well, that's what Everybody does for a living. Even for a journalist who likes to think he's different from Everybody by taking the long view, fixing fleeting events in the wider sweep of history, the bin Laden operation offered the chance to tee up the president for reelection and insult his opponents. The historical knowledge of the columnist Jonathan Alter, for example, runs so deep that he will sometimes cite events that date deep into prehistory, before Vietnam, before Watergate—all the way back to FDR sometimes. Like, 100 years ago.</p>
<p>"It's still too early to surmise whether Obama will be a great president," Alter wrote for <em>Bloomberg News</em>, with uncharacteristic modesty, "but we can now be confident he isn't Jimmy Carter." Indeed, "this feels like a turning point, if not for the world"—more modesty!—"then at least for our sense of ourselves." And this will make </p>

<p>it "much harder for the right wing to disparage him as weak and soft on terrorism; some voters may even be convinced that he's not a Muslim after all."</p>
<p>That Muslim reference was a gag about how stupid voters are. Alter’s such a cut-up.</p>
<p>Some journalists used this early hour of national elation to reopen controversies that have long obsessed them. With its recent exfoliation of blogs and newsfeeds, the</p>
</div>

<div class="column2">


<p>editors of the <em>New Yorker </em>have managed to turn a staff of fashionable writers into an uptown version of Huffington Post—political cant plus cartoons about shopping. One reporter, Jane Mayer, tapped her Blackberry furiously to reassure Everybody that “pro-torture” advocates would be embarrassed to discover that severe interrogations had not helped find bin Laden. John Cassidy said the episode redeemed all those (including him) who thought the Bush-era phrase “War on Terror” was overblown, because it was “old-fashioned police (intelligence) work” that had carried the day. Which of course is true—but only if your police force has earth-orbiting satellites, a fleet of radar-evading Black Hawk helicopters, transnational training facilities, a small army of undercover operatives, and a multibillion dollar budget. An aircraft carrier comes in handy, too.</p>
<p>No surprise, there was pettiness on the right to match the left. Rush Limbaugh proved again that conservative polemicists can be just as monomaniacal—and graceless—as the America-haters and child-rapers he takes to be his critics. Mere hours after Obama's </p>
<p>speech, he filled the airwaves with mockery. "Thank God for President Obama," he oozed sarcastically. "Our military wanted to go in there and just scorch the earth...but President Obama single-handedly understood what was at stake here. He alone understood the need to get DNA to prove the death....It was President Obama single-handedly and alone who came up with the strategy that brought about the effective assassination of Osama bin Laden.” </p>

</div>
</div>


<div class="page">
<div class="column1">
<p>His voice was so thick with hammy disdain you could easily forget that each of these statements—striking "alone" and "singlehandedly"—was true, and a fine reason to admire what Obama had done.</p>
<p>Note that this fatuous back-and-forth and gun-jumping took place before we, as opposed to Everybody, knew details of what transpired at bin Laden's compound. Still less did anyone know how the public would respond politically, assuming that any normal American would view the event in political terms, which was unlikely. I write a few days after bin Laden's death. Polls show a sizable but not stratospheric jump in Obama's approval rating, and the record on the use of extreme interrogation remains too obscure to trace plausible chains of cause and effect. Please forgive my heresy, but I think Everybody will just have to wait and see—at least until next Monday morning.</p>
</div>



<div class="column2">
</div>
</div>

</body>
</html>